# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
run_lifts_master.ipynb

# Ignore system files
.DS_Store
Thumbs.db

